@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0%;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

:root {
  --parrafo-color: orange;
  --subtitulo: red;
}

.img-right {
  width: 250px;
}
.img-left {
  width: 140px;
}
#bg {
    background-image: url(background1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 650px;
}

.clip-btn {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  padding-left: 2em;
  position: relative;
  width: 400px;
  height: 50px;
}

.soy {
  clip-path: ellipse(50% 50% at 50% 50%);
  height: 300px;
}

.contact {
  position: absolute;
  top: 0;
  right: 30px;
}

.parrafo {
  font-size: 18px;
  color: var(--parrafo-color);
}

.title {
  font-size: 30px;
  color: var(--subtitulo);
  font-weight: 800;
}

@media screen and (min-width: 300px) and (max-width: 719px) {
  .img-right {
    width: 150px;
  }
  .img-left {
    width: 100px;
  }
  #bg {
    background-image: url(background1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .clip-btn {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    padding-left: 2em;
    position: relative;
    width: 250px;
    height: 50px;
  }

  .soy {
    clip-path: ellipse(50% 50% at 50% 50%);
    height: 300px;
  }


}
